.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.cardContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.head {
  color: #171f46;
  font-size: 15px;
  font-weight: bold;
}
.para {
  color: #64748b;
  font-size: 15px;
}
.image {
  width: 70px;
  height: 50px;
}
